/* General container styling */
.container {
    margin: 20px auto; /* Adds space between containers */
    padding: 10px;
    max-width: 1200px;
    border-radius: 20px;
    border: 3px solid #ffffff; /* Adds an outline */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    background-color: #2c4687; /* Uniform background color */
    color: #ffffff;
    text-align: center;
    font-size: 1.0em;
}

/* Styling for the first container */
.learning-container-1 {
    background-color: #2c4687;
}

/* Styling for the second container */
.learning-container-2 {
    background-color: #2c4687;
    margin-top: 30px; /* Additional space from the first container */
}

/* Styling for the third container */
.learning-container-3 {
    background-color: #2c4687;
    margin-top: 30px; /* Additional space from the second container */
}
